In [57]:
import pandas as pd
import numpy as np

# Age

In [36]:
input_age_df = pd.read_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/census_data_age_group.csv')

In [37]:
input_age_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52650 entries, 0 to 52649
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age group         52650 non-null  object
 1   ONSConstID        52650 non-null  object
 2   ConstituencyName  52650 non-null  object
 3   RegionID          52650 non-null  object
 4   RegionName        52650 non-null  object
 5   CountryID         52650 non-null  object
 6   CountryName       52650 non-null  object
 7   DateThisUpdate    52650 non-null  object
 8   DateOfDataset     52650 non-null  object
 9   Date              52650 non-null  int64
 10  Const%            52650 non-null  object
 11  ConstLevel        52650 non-null  int64
 12  Reg%              52650 non-null  object
 13  UK%               52650 non-null  object
dtypes: int64(2), object(12)
memory usage: 5.6+ MB

In [162]:
input_age_df

,Age group,ONSConstID,ConstituencyName,RegionID,RegionName,CountryID,CountryName,DateThisUpdate,DateOfDataset,Date,Const%,ConstLevel,Reg%,UK%
0,0-9,E14000554,Berwick-upon-Tweed,E12000001,North East,K02000001,UK,16/09/2021,30/06/2020,2020,8.20%,6183,10.90%,11.80%
1,0-9,E14000569,Bishop Auckland,E12000001,North East,K02000001,UK,16/09/2021,30/06/2020,2020,10.50%,9501,10.90%,11.80%
2,0-9,E14000574,Blaydon,E12000001,North East,K02000001,UK,16/09/2021,30/06/2020,2020,10.30%,8921,10.90%,11.80%
3,0-9,E14000575,Blyth Valley,E12000001,North East,K02000001,UK,16/09/2021,30/06/2020,2020,10.70%,9214,10.90%,11.80%
4,0-9,E14000641,City of Durham,E12000001,North East,K02000001,UK,16/09/2021,30/06/2020,2020,8.60%,9221,10.90%,11.80%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52645,80+,W07000076,Caerphilly,W92000004,Wales,K02000001,UK,01/05/2018,30/06/2012,2012,3.83%,3338,5.12%,4.67%
52646,80+,W07000077,Islwyn,W92000004,Wales,K02000001,UK,01/05/2018,30/06/2012,2012,4.48%,3391,5.12%,4.67%
52647,80+,W07000078,Vale of Glamorgan,W92000004,Wales,K02000001,UK,01/05/2018,30/06/2012,2012,4.86%,4774,5.12%,4.67%
52648,80+,W07000079,Cardiff West,W92000004,Wales,K02000001,UK,01/05/2018,30/06/2012,2012,4.10%,3746,5.12%,4.67%
52649,80+,W07000080,Cardiff South and Penarth,W92000004,Wales,K02000001,UK,01/05/2018,30/06/2012,2012,4.18%,4538,5.12%,4.67%

In [194]:
def preprocess_census_age(age_df):
    # Step 1: Selecting specific columns
    cleaned_age_df = age_df[["Age group", "ConstituencyName", "ONSConstID", "RegionName", "Date", "Const%"]]
    # Step 2: Renaming columns
    cleaned_age_df.columns = ["age", "constituency_name", "constituency_id", "region", "year", "percentage"]
    # Step 3: Converting 'Year' to integer
    cleaned_age_df["year"] = cleaned_age_df["year"].astype(int)
    # Step 4: Converting 'Percentage' to numeric
    cleaned_age_df["percentage"] = pd.to_numeric(cleaned_age_df["percentage"].str[:-1]) / 100
    # Step 5: Spreading data using pivot
    cleaned_age_df = cleaned_age_df.pivot(index=["constituency_name", "constituency_id", "year"],
                          columns="age", values="percentage").reset_index()
    return cleaned_age_df

In [199]:
preprocessed_age_df = preprocess_census_age(input_age_df)
preprocessed_age_df.shape

/var/folders/bq/jnyjwp3x1l52s_tgtr9v62kh0000gn/T/ipykernel_6327/2492311838.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_age_df["year"] = cleaned_age_df["year"].astype(int)
/var/folders/bq/jnyjwp3x1l52s_tgtr9v62kh0000gn/T/ipykernel_6327/2492311838.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_age_df["percentage"] = pd.to_numeric(cleaned_age_df["percentage"].str[:-1]) / 100

(5850, 12)

# Living status

In [196]:
input_living_df = pd.read_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/census_data_livingstatus.csv')

In [56]:
input_living_df

,ONSConstID,ConstituencyName,RegNationID,RegNationName,NatComparator,groups,con_num,rgn_num,nat_num,con_2011_num,rgn_2011_num,nat_2011_num,con_change,rgn_change,nat_change
0,E14000530,Aldershot,E12000008,South East,England & Wales,Home owners,27156,2500475,15258981,26298,2404517,14853678,3.3%,4.0%,2.7%
1,E14000531,Aldridge-Brownhills,E12000005,West Midlands,England & Wales,Home owners,24018,1525744,15258981,24364,1489094,14853678,-1.4%,2.5%,2.7%
2,E14000532,Altrincham and Sale West,E12000002,North West,England & Wales,Home owners,30238,1965545,15258981,29587,1941564,14853678,2.2%,1.2%,2.7%
3,E14000533,Amber Valley,E12000004,East Midlands,England & Wales,Home owners,28274,1333775,15258981,27414,1274665,14853678,3.1%,4.6%,2.7%
4,E14000534,Arundel and South Downs,E12000008,South East,England & Wales,Home owners,33721,2500475,15258981,31558,2404517,14853678,6.9%,4.0%,2.7%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1714,W07000076,Caerphilly,W92000004,Wales,England & Wales,Social renters,6741,222093,4227756,6259,214911,4118461,7.7%,3.3%,2.7%
1715,W07000077,Islwyn,W92000004,Wales,England & Wales,Social renters,5828,222093,4227756,5786,214911,4118461,0.7%,3.3%,2.7%
1716,W07000078,Vale of Glamorgan,W92000004,Wales,England & Wales,Social renters,5842,222093,4227756,5355,214911,4118461,9.1%,3.3%,2.7%
1717,W07000079,Cardiff West,W92000004,Wales,England & Wales,Social renters,8182,222093,4227756,7961,214911,4118461,2.8%,3.3%,2.7%
1718,W07000080,Cardiff South and Penarth,W92000004,Wales,England & Wales,Social renters,10043,222093,4227756,9718,214911,4118461,3.3%,3.3%,2.7%

In [115]:
import pandas as pd
import numpy as np

def clean_census_livingstatus(living_df):
    # Step 1: Select columns
    cleaned_living_df = living_df[["ConstituencyName", "ONSConstID", "groups", "con_num", "con_2011_num"]]
    # Step 2: Rename columns
    cleaned_living_df.columns = ["constituency_name", "constituency_id", "group", "2021", "2011"]
    # Step 3: Gather columns
    cleaned_living_df = pd.melt(cleaned_living_df, id_vars=["constituency_name", "constituency_id", "group"],
                             var_name="year", value_name="N_housing")
    # Step 4: Group by Constituency and Year
    grouped_data = cleaned_living_df.groupby(["constituency_id", "year"])
    # Step 5: Calculate p_housing
    cleaned_living_df["p_housing"] = grouped_data["N_housing"].transform(lambda x: x / x.sum())
    # Step 6: Drop N_housing column
    cleaned_living_df = cleaned_living_df.drop("N_housing", axis=1)
    # Step 7: Spread data
    cleaned_living_df = cleaned_living_df.pivot_table(index=["constituency_id", "constituency_name", "year"],
                                                columns="group", values="p_housing", fill_value=0).reset_index()
    # Step 8: Rename columns
    cleaned_living_df.columns = [col.replace(" ", "_") for col in cleaned_living_df.columns]
    return cleaned_living_df

In [200]:
preprocessed_age_df = clean_census_livingstatus(input_living_df)
preprocessed_age_df.shape

(1146, 6)

# Ethnicity

In [68]:
input_ethnicity_df = pd.read_csv('/Users/andreabrumana/code/willgreen93/UK_election/raw_data/census_data_ethnicity.csv')

In [69]:
input_ethnicity_df.head()

,ONSConstID,ConstituencyName,RegNationID,RegNationName,NatComparator,broad_ethnic_groups,con_pc_2021,con_pc_2011,rn_pc_2021,rn_pc_2011,ew_pc_2021,ew_pc_2011
0,E14000530,Aldershot,E12000008,South East,England & Wales,Asian,0.139035,0.097737,0.070116,0.052351,0.092544,0.07514
1,E14000531,Aldridge-Brownhills,E12000005,West Midlands,England & Wales,Asian,0.061441,0.040364,0.133473,0.107899,0.092544,0.07514
2,E14000532,Altrincham and Sale West,E12000002,North West,England & Wales,Asian,0.120815,0.055895,0.083949,0.062035,0.092544,0.07514
3,E14000533,Amber Valley,E12000004,East Midlands,England & Wales,Asian,0.008038,0.006702,0.080143,0.064727,0.092544,0.07514
4,E14000534,Arundel and South Downs,E12000008,South East,England & Wales,Asian,0.011055,0.009345,0.070116,0.052351,0.092544,0.07514

In [142]:
def clean_census_ethnicity(ethnicity_df):
    # Step 1: Select columns
    cleaned_ethnicity_df = ethnicity_df[["ConstituencyName", "ONSConstID", "broad_ethnic_groups", "con_pc_2021", "con_pc_2011"]]
    # Step 2: Rename columns
    cleaned_ethnicity_df.columns = ["constituency_name", "constituency_id", "group", "2021", "2011"]
    # Step 3: Replace values in the 'group' column
    cleaned_ethnicity_df["group"] = cleaned_ethnicity_df["group"].replace(
        {"Mixed or Multiple ethnic groups": "Mixed"}
    )
    # Step 4: Gather columns
    cleaned_ethnicity_df = pd.melt(cleaned_ethnicity_df, id_vars=["constituency_name", "constituency_id", "group"],
                                var_name="year", value_name="percentage")
    # Step 5: Spread data
    cleaned_ethnicity_df = cleaned_ethnicity_df.pivot_table(index=["constituency_id", "constituency_name", "year"],
                                                      columns="group", values="percentage", fill_value=0).reset_index()
    # Step 6: set year as integer
    cleaned_ethnicity_df['year'] = cleaned_ethnicity_df['year'].astype(int)
    return cleaned_ethnicity_df

In [201]:
# Assuming 'ethnicity' is your input DataFrame
preprocessed_ethnicity_df = clean_census_ethnicity(input_ethnicity_df)
#output_ethnicity_df[['Asian', 'Black', 'Mixed', 'White','Other']].sum(axis=1)
preprocessed_ethnicity_df.head()

/var/folders/bq/jnyjwp3x1l52s_tgtr9v62kh0000gn/T/ipykernel_6327/1382547110.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_ethnicity_df["group"] = cleaned_ethnicity_df["group"].replace(

group,constituency_id,constituency_name,year,Asian,Black,Mixed,Other,White
0,E14000530,Aldershot,2011,0.097737,0.019293,0.021343,0.006293,0.855334
1,E14000530,Aldershot,2021,0.139035,0.024624,0.025657,0.026179,0.784505
2,E14000531,Aldridge-Brownhills,2011,0.040364,0.009705,0.015525,0.003118,0.931288
3,E14000531,Aldridge-Brownhills,2021,0.061441,0.018840,0.023322,0.009774,0.886622
4,E14000532,Altrincham and Sale West,2011,0.055895,0.009763,0.021306,0.008696,0.904339

# Interpolate

In [145]:
from scipy.interpolate import interp1d